
<div>

<!--Dsiplaying flashcard decks and flashcards inside it implementation-->


        <button type="button" class="fas fa-folder-plus fa-lg" data-toggle="modal" data-target="#exampleModal">
            New
          </button>
          
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Create New Flashcard</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                    <div class="input-group mb-3">
                        <input type="text" name="" class="form-control input_user" value="" placeholder="Flashcard Title" ng-model="flashcardTitle">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="" class="form-control input_user" value="" placeholder="Flashcard Front" ng-model="flashcardQuestion">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="" class="form-control input_user" value="" placeholder="Flashcard Back" ng-model="flashcardAnswer">
                    </div>
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveCard()">Create</button>
                </div>
              </div>
            </div>
          </div>


<!--Showing flash cards (existing ones) implementation-->

        <h3 style="text-align: center; padding-top: 1%; padding-bottom: 1%;"> Existing Flashcards</h3>
        <p style="text-align: center;" ng-if="flashcards && flashcards.length < 1">You currently don't have any cards for this deck </p>
        <div class="container">
            <main class="grid">
              <article ng-repeat="card in flashcards  track by $index">
                <div class="text">
                  <h3>{{card.title}}</h3>
                  <div>{{card.question}}</div>
                  <div>{{card.answer}}</div>
                  <div>Next revision due: {{schedule[$index].day_scheduled_at}}{{schedule[$index].month_scheduled_at}}{{schedule[$index].year_scheduled_at}}<div>
                  <a class="fas fa-trash-alt red" ng-click="delCard(card.id)">Delete</a>
                  <a class="far fa-edit red" data-toggle="modal" data-target="#editModal" ng-click="getCard(card.id)">Edit</a>
                </div>
              </article>
              
            </main>
          </div>
          <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editModalLabel">Make Changed to your flashcard</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
<!--NG_INIT: https://www.geeksforgeeks.org/angularjs-ng-init-directive/-->
                    <div class="input-group mb-3">
                     <label class="input-group-text">Flashcard Title: </label>
                        <input type="text" name="Flashcard Title" class="form-control input_user"  ng-init="editflashcardTitle= currEditFlashcardTitle"  placeholder="{{currEditFlashcardTitle}}" ng-model="editflashcardTitle">
                    </div>
                    <div class="input-group mb-3">

                     <label class="input-group-text">Flashcard Front: </label>
                        <input type="text" name="Flashcard Front" class="form-control input_user" ng-init="editflashcardQuestion= currEditFlashcardQuestion"  value="" placeholder="{{currEditFlashcardQuestion}}" ng-model="editflashcardQuestion">
                    </div>
                    <div class="input-group mb-3">

                     <label class="input-group-text">Flashcard Back: </label>
                        <input type="text" name="Flashcard Back" class="form-control input_user" ng-init="editflashcardAnswer= currEditFlashcardAnswer" value="" placeholder="{{currEditFlashcardAnswer}}" ng-model="editflashcardAnswer">
                    </div>
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editCard()">Save</button>
                </div>
              </div>
            </div>
          </div>
</div>