<!--Home page after loggin in taht shows all the features of website and welcomes user-->
<!--ICONS
https://icons.getbootstrap.com/icons/ladder/
https://icons.getbootstrap.com/icons/share-fill/
https://icons.getbootstrap.com/icons/trophy-fill/
https://icons.getbootstrap.com/icons/arrow-clockwise/
https://icons.getbootstrap.com/?
https://icons.getbootstrap.com/
-->
<div class="container">
   <center><h3> Hey {{user.firstName}} 😄, add new cards and start revising. </h3></center>
<header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                    <center> <a href="#"><img src="https://i.ibb.co/v13TLwP/Student-Companion-Logo.png"  alt="Student-Companion-Logo" border="0"></a></center>
                        <h1 class="display-5 fw-bold">Learn the right way</h1>
                        <p class="fs-4">Student Companion repeatedly shows you flashcards over a long period of time to enhance your learning.</p>
                        <a class="btn btn-primary btn-lg"  ui-sref="profile.flashdecks">Get started</a>
                    </div>
                </div>
            </div>
        </header>
        <!--Template: https://startbootstrap.com/themes?showPro=false&showVue=false&showAngular=false-->
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                                <h2 class="fs-4 fw-bold">Active Recall</h2>
                                <p class="mb-0">Active recall is a principle of efficient learning, which claims the need to actively stimulate memory during the learning process. It contrasts with passive review, in which the learning material is processed passively (e.g. by reading, watching, etc.).</p>
                            <!--https://en.wikipedia.org/wiki/Active_recall -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-arrow-clockwise"></i></div>
                                <h2 class="fs-4 fw-bold">Spaced Repetition</h2>
                                <p class="mb-0">An evidence-based learning technique that is usually performed with flashcards. Newly introduced and more difficult flashcards are shown more frequently, while older and less difficult flashcards are shown less frequently in order to exploit the psychological spacing effect.</p>
                            <!--https://en.wikipedia.org/wiki/Spaced_repetition -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ladder"></i></div>
                                <h2 class="fs-4 fw-bold">Learn with Friends</h2>
                                <p class="mb-0">Leaderboards tap into our competitive spirit and act as a powerful engagement tool, driving you to learn more.</p>
                            <!--https://www.growthengineering.co.uk/gamification-leaderboards-lms/ -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-share-fill"></i></div>
                                <h2 class="fs-4 fw-bold">Sharing Flashcards</h2>
                                <p class="mb-0">Helps collaborating, reduces your work and get started with learning right away.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Chaotic Programmers | CS699 2021</p></div>
        </footer>

</div>
